@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,700&family=Noto+Serif:ital@1&family=Roboto:wght@100;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Noto Serif', serif;
    font-family: 'Roboto', sans-serif;
    background: #323A46;
}

.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

/*header datos y menu*/
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

.datos{
    background-color: rgb(114, 41, 121);
    text-align: center;
    word-spacing: 20px;
    color: #fff;
    width: 80%;
}

.dato a{
    color: white;
    text-decoration: none;
}

.menu{
    background-color: rgb(114, 41, 121);
    width: 80%;
}

.logoi{
    height: 50px;
    margin-left: 20px;
}
.menu .logo{
    font-size: 50px;
    line-height: 70px;
    font-weight: 900;
    margin-left: 20px;
    color: white;
}

.menu ul{
    float: right;
}

.menu ul li{
    display:inline-block; 
    margin: 30px 15px;
}

.menu ul li a{
    font-size: 16px;
    padding: 8px 6px;
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.menu ul li a:hover{
    color: yellowgreen;
}

/*footer*/
.footer{
    background-color: rgb(61, 57, 57);
    border-radius: 40px;
    color: white;
    position: relative;
    width: 100%;
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer img{
    float: right;
    height: 57%;
    width: 120%;
    margin: 50px 0 0 0;
    border-radius: 80px;
    
}
.redes_cel a{
    padding: 10px;
    display: none;
}
.siguenos{
    margin-top: 7%;
    margin-left: 10%;   
    width: 100%;
}
.fondo{
    margin: 0;
    height: 100%;
    width: auto;
    z-index: -2;
}
.fondo img{
    width: 70%;
    margin: -20px 70px 0 0;
}
.sidenav{
    position: relative;
}
.sidenav a{
    position: absolute;
    left: -70%;
    transition: 0.5s;
    padding: 10px;
    width: 75%;
    text-decoration: none;
    color: #FFF;
    border-radius: 10px;
    text-align: center;
    font-size: 19px;
    font-weight: 500;
}

.sidenav i{
    float: right;
    padding-left: 30px;
}


#mySidenav a:hover {
    left: 0;
    background-color: rgba(165, 19, 153, 0.4);
}

.facebook{
    top: 20px;
}
  
.instagram{
    top: 80px;
}
  
.whatsapp{
    top: 140px;
}
  
.gmail{
    top: 200px;
}

.formulario{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 650;
    color: #fff;
    width: 100%;
    font-size: 20px;
    padding: 20px;
}

.formulario textarea {
    border-radius: 20px;
    line-height: 1.5 !important;
    min-height: 11.7em;
    max-height: 100px;
    padding: .5625rem 1rem;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.formulario input{
    padding: .5625rem 1rem;
    border-radius: 20px;
    font-size: 15px;
}
.boton3{
    background-color: #591447;
    display: block;
    width: auto;
    height: auto;
    border-radius: 10px;
    text-decoration: none;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: white;
    margin-left: 35%;
    margin-top: 20px;
}
.boton3:hover{
    background-color: #BF048D;
    box-shadow: 5px 5px 5px gray;
}


/*desaparece la x del menu de celular*/
.close{
    color: rgba(255, 222, 173, 0);
    
}

.banner{
    width: 100%;
    position: relative;
    height: 350px;
    /*background: url(../assets/img/flota.webp) #000 no-repeat center center/cover; */
    left: 0;
    top: 90px;
    display: block;
}

.bannerimg img{
    width: 100%;
    height: 300px;
}

.texto_banner{
    position:absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner .texto_banner p,
.banner .texto_banner h1{
    color: white;
    margin: 0;
    text-align: center;
}

/*index*/
/* quienes somos */
.nosotros{
    text-align: center;
    height: 500px;
    position: relative;
    display: grid;
    top: 90px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
}

.nosotros img{
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.texto_nosotros{
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFF;
    height: auto;
}

.conjunto_texto{
    position: relative;
    margin-top: 25%;
}

.img_nosotros{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.titulo{
    font-family: 'Amaranth', sans-serif;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 33px;
    text-align: center;
    color: #FFF;
}

.linea{
    width: 75%;
    height: 6px;
    background-color: #591447;
    margin: 10px auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

.boton{
    background-color: #591447;
    display: block;
    width: 40%;
    height: auto;
    margin: 40px auto 0px;
    border-radius: 10px;
    text-decoration: none;
    line-height: 15px;
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: white;
    margin-bottom: 20px;
}

.boton:hover{
    background-color: #BF048D;
    box-shadow: 5px 5px 5px gray;
}

/* servicios index*/
.servicios{
    position:relative;
    top: 130px;
}

.servicios .contenido{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.imagen img{
    width: 100%;
    height: 270px;
    border-radius: 20px;
    margin: 0 auto;
    display: block;
}

.imagen p{
    text-align: center;
    font-weight: bolder;
    color: #FFF;
    padding-bottom: 15px;
}

.imagen .boton2{
    background-color: #591447;
    width: 100px;
    padding: 5px;
    color: rgb(255, 253, 253);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-top: 15px;
}

.imagen .boton2 a{
    color: #FFF;
    text-decoration: none;
}

.boton2:hover{
    background-color: #BF048D;
    box-shadow: 5px 5px 5px gray;
}



.pag-nosotros{
    padding: 20px;
    margin: 0px 100px;
    display: grid;
    position: relative;
    top: 100px;
    bottom: 50px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 50px;
}

.pag-nosotros div img{
    height: 400px;
    width: 100%;
}

.sub-menu-servicios {
    position: relative;
    top: 100px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
    font-weight: 900;
}
.sub-menu-servicios a{
    padding: 20px;
}
.sub-menu-servicios a:hover{
    color: yellowgreen;
}


.pag-servicios{
    padding: 20px;
    margin: 0px 100px;
    display: grid;
    position: relative;
    top: 100px;
    bottom: 50px;
    grid-template-columns: 1fr ;
    grid-auto-rows: auto;
    column-gap: 30px;
    row-gap: 50px;

}
.pag-servicios div p {
    font-size: 50px;
}

.pag-servicios div img{
    height: 500px;
    width: 500px;
}

.img_servicio1 {
    float: left;
}  
.img_servicio2 {
    float: right;
}  
.img_servicio3 {
    float: left;
}  
.img_servicio4 {
    float: right;
}  

.pag-servicios div {
    background: #ecf0f1;
    padding: 1em;
}

.pag-servicios div:hover{
    border: 1px solid #f1c40f;
}

.pag-mudanzas {
    position: relative;
    padding: 20px;
    margin: 0px 100px;
    top: 100px;
    bottom: 50px;

}



.btn-wsp{
    position:fixed;
    width:60px;
    height:60px;
    line-height: 63px;
    bottom:40px;
    right:25px;
    background:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:35px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index:100;
    transition: all 300ms ease;
}
.btn-wsp:hover{
    background: white;
    color: #20ba5a;
}




/**celular ancho*/
@media screen and (max-width: 400px) {
    .container{
        width: 100%;
    }
    .datos{
        width: 100%;
    }
    .menu{
        width: 100%;
    }
}
/*menu celular*/
@media(max-width: 934px){
    .hamburger{
        width: 20px;
        position: absolute;
        top: 50px;
        left: 15px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    .hamburger span{
        margin-bottom: 3px;
        background-color: white;
        display: block;
        height: 3px;
    }

    nav ul{
        float: none;
        width: 200px;
        padding: 0;
        position: fixed;
        top: 0px;
        bottom: 0;
        background-color: rgba(165, 19, 153, 0.4);
        margin: 0px;
        padding-top: 80px;
        transition: 0.5s;
        left: -100%;
        z-index: 2;
    }
    
    .open{
        left: 0;
    }
    
    .menu ul li{
        display: block;
        float: none;
    }
    
    .menu ul li a{
        font-size: 18px;
        padding: 20px 30px;
    }
    
    .close{
        display: block;
        position: absolute;
        width: 50px;
        height: 50px;
        right: 10px;
        top: 70px;
        color: white;
        font-size: 30px;
        cursor: pointer;
        font-weight: 900;
    }

    .logoi{
        margin-left: 60px;
    }
}
/*baner celular*/
@media(max-width: 833px){
    .texto_banner{
        width: 70%;
        margin-top: 40px;
        padding: 10px;
    }
}

@media(max-width: 550px){
    .servicios .contenido{
        grid-template-columns: auto;
        row-gap: 50px;
    }
}
/*index footer*/
@media screen and (max-width: 1419px) {
    .fondo img{
        width: 70%;
        margin: 0 60px 0 0;
    }
}
@media screen and (max-width: 1320px) {
    .fondo img{
        width: 70%;
        margin: 30px 50px 0 0;
    }
    .sidenav a{
        width: 95%;
        left: -90%;
        font-size: 17px;
        font-weight: 300;
    }
    .sidenav i{
        padding-left: 8px;
    }
}
@media screen and (max-width: 1024px) {
    .footer{
        grid-template-columns: 1fr 1fr;
    }
    .imagen_footer {
        display: none;
    }
    .fondo img{
        width: 60%;
        margin: 15px 90px 0 0;
    }
    .sidenav a{
        width: 80%;
        left: -78%;
        font-size: 19px;
        font-weight: 500;
    }
}

/*index quienes somos celular*/
/*index servicios celular y footer*/
@media(max-width: 850px){
    .nosotros{
        grid-template-columns: 1fr ;
    }
    .img_nosotros{
        z-index: -1;
    }
    .texto_nosotros{
        position: absolute;
        width: 60%;
        top: 3%;
        left: 15%;
    }
    .conjunto_texto{
        position: relative;
        margin-top: 0%;
    }
    .servicios .contenido{
        grid-template-columns: 1fr 1fr;
    }
    .fondo img{
        width: 70%;
        margin: 40px 25px 0 0;
    }
    .sidenav a{
        width: 120%;
        left: -111%;
        font-size: 17px;
        font-weight: 400;
    }
}
.formulario img{
    display: none;
}
@media screen and (max-width: 680px) {
    .footer{
        grid-template-columns: 1fr;
    }
    .imagen_footer{
        display: none;
    }
    .fondo{
        margin: 0;
        height: 100%;
        width: auto;
        z-index: -2;
    }
    .fondo img{
        width: 70%;
        margin: -20px 70px 0 0;
    }
    .sidenav{
        display: none;
    }
    .redes_cel a{
        display: inline;
        text-decoration: none;
    }
    .formulario img{
        
        display: block;
        height: 100px;
        margin: 10px 50px;
        position: absolute;
        float: right;

    }
}
@media(max-width: 850px){
    .pag-nosotros{
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:320px) and (max-width:768px){
    .btn-wsp{
        width:63px;
        height:63px;
        line-height: 66px;
	}
}



